<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>


<% photos.forEach(function(photos){ %>
	<div class="carousel-images">
		<img src="<%= photos.urls.small %>" class="modal-img d-none" alt="carousel-img" />
		<p class="imgAuthor d-none"><%= photos.user.links.html %></p>
		<p class="credit-fname d-none"><%= photos.user.first_name %></p>
		<p class="credit-lname d-none"><%= photos.user.last_name %></p>
		<div class="height d-none"><%= photos.height %></div>
	</div>
 <% }) %>
<!-- CAROUSEL-->
<div>
	<div id="puppy-carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner"></div>
		<div class="intro centered">
			<p>Matching the perfect puppy to the perfect owner.</p>
			<button type="button" class="btn btn-primary">shop now!</button>
		</div>
	</div>
</div>
<!-- HOW TO SECTION -->
<div class="jumbotron-fluid mt-3">
	<div class="container">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card">
					<i class="lnr lnr-paw"></i>
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
				<div class="card">
					<i class="lnr lnr-magnifier"></i>
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
				<div class="card">
					<i class="lnr lnr-home"></i>
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- REVIEWS SECTION -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="text-center">Why our customers <i class="lnr lnr-heart"></i> us!</h1>
		<div class="card-deck">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BOTTOM CTA SECTION -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>What are you waiting for?</h1>
			</div>
			<div class="col text-center">
				<button type="button" class="btn btn-lg btn-primary">shop now!</button>
			</div>
		</div>
	</div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/scripts %>

</body>
</html>