<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<div class="container">
	<% photos.forEach(function(photos){ %>
		<div class="carousel-images">
			<img src="<%= photos.urls.regular %>" class="modal-img d-none" alt="carousel-img" />
			<p class="imgAuthor d-none"><%= photos.user.links.html %></p>
			<p class="credit-fname d-none"><%= photos.user.first_name %></p>
			<p class="credit-lname d-none"><%= photos.user.last_name %></p>
			<div class="height d-none"><%= photos.height %></div>
		</div>
	 <% }) %>
    <!-- CAROUSEL -->
    <div class="container">
		<div id="puppy-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators"></ol>
			<div class="carousel-inner"></div>
			<!-- Controls -->
			<a class="carousel-control-prev" href="#puppy-carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#puppy-carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
<i class="lnr lnr-home">TEST</i>
<i class="lnr lnr-heart">TEST</i>
<i class="lnr lnr-sad">TEST</i>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/scripts %>

</body>
</html>





