<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>


<% photos.forEach(function(photos){ %>
	<div class="carousel-images">
		<img src="<%= photos.urls.small %>" class="modal-img d-none" alt="carousel-img" />
		<p class="imgAuthor d-none"><%= photos.user.links.html %></p>
		<p class="credit-fname d-none"><%= photos.user.first_name %></p>
		<p class="credit-lname d-none"><%= photos.user.last_name %></p>
		<div class="height d-none"><%= photos.height %></div>
	</div>
 <% }) %>
 <div class="container-fluid"><!-- MAIN CONTAINER -->
<!-- CAROUSEL-->
	<div class="jumbotron-fluid intro-jumbo mb-5">
		<div class="row">
			<div class="col d-none d-sm-block">
				<div class="centered">
					<h1>Matching the perfect puppy to the perfect owner.</h1>
					<a href="/puppies"><button type="button" class="btn btn-lg btn-custom">shop now!</button></a>
				</div>
			</div>
			<div class="col">
				<div id="puppy-carousel" class="carousel slide homepage-carousel mx-auto" data-ride="carousel">
					<div class="carousel-inner"></div>
						<div class="intro centered d-sm-none">
							<p>Matching the perfect puppy to the perfect owner.</p>
							<a href="/puppies"><button type="button" class="btn btn-custom">shop now!</button></a>
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- HOW TO SECTION -->
	<div class="jumbotron-fluid workflow-section mt-5">
		<div class="container">
			<div class="card-deck mx-auto">
				<div class="card text-center">
					<div class="card-title"><i class="lnr lnr-lg lnr-paw"></i></div>
					<div class="first-card card-body">
						<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
				<div class="card text-center">
					<div class="card-title"><i class="lnr lnr-lg lnr-magnifier"></i></div>
					<div class="second-card card-body">
						<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
				<div class="card text-center">
					<div class="card-title"><i class="lnr lnr-lg lnr-home"></i></div>
					<div class="third-card card-body">
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- REVIEWS SECTION -->
	<div class="jumbotron-fluid reviews mt-5">
		<div class="container">
			<h3 class="text-center mt-3 mb-5">Why our customers <i class="lnr lnr-heart"></i> us!</h3>
			<div class="card-deck">
				<div class="card">
					<div class="card-body">
						<p class="card-text">I found my puppy chubby on this site and I am so thankful forver blah blah!</p>
						<p class="card-text text-right"><small>ANNA</small></p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<p class="card-text">I found my puppy chubby on this site and I am so thankful forver blah blah!</p>
						<p class="card-text text-right"><small>JACOB</small></p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<p class="card-text">I found my puppy chubby on this site and I am so thankful forver blah blah!</p>
						<p class="card-text text-right"><small>LEENDA</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BOTTOM CTA SECTION -->
	<div class="jumbotron-fluid mt-5 mb-5">
		<div class="container">
			<div class="row py-4 d-flex align-items-center">
				<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
					<h3>What are you waiting for?</h3>
				</div>
				<div class="col-md-6 col-lg-7 text-center text-md-right">
					<a href="/puppies"><button type="button" class="btn btn-lg btn-custom">shop now!</button></a>
				</div>
			</div>
		</div>
	</div>

</div><!-- /main container -->

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/scripts %>

</body>
</html>